<!-- nav -->
<mat-toolbar class="expanded-toolbar" color="primary">
    <span>
      <button mat-button routerLink="/">Tic Tac Toe</button>
      <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button *ngIf="!currentUser" mat-button routerLink="/verification/login">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button (click)="logout()" *ngIf="currentUser" mat-button>
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
  <button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm mat-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu" x-position="before">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button *ngIf="!currentUser" mat-menu-item routerLink="/verification/login">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button (click)="logout()" *ngIf="currentUser" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
