<!-- nav -->
<mat-toolbar class="expanded-toolbar" color="primary">
    <span>
      <button mat-button routerLink="/">Tic Tac Toe</button>
    </span>
  <button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm mat-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu" x-position="before">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
</mat-menu>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
