<div fxLayout="row" fxLayout.xs="column">
  <!-- Common code -->
  <ng-template #commonTemplate>
    <div class="mat-card-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <mat-card class="mat-elevation-z4" ngClass.gt-xs="card-gt-xs" ngClass.lt-sm="card-lt-sm">
        <mat-card-content>
          <nav mat-tab-nav-bar>
            <a [active]="true" fxFlex="50%"
               mat-tab-link
               routerLink="/verification/login">
              Login
            </a>
            <a [active]="false" fxFlex="50%"
               mat-tab-link
               routerLink="/verification/signup">
              Sign Up
            </a>
          </nav>
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="padding-16" fxLayout="column"
                fxLayoutAlign="center">
            <mat-error *ngIf="loginInvalid">
              The email and password were not recognised
            </mat-error>
            <mat-form-field class="full-width-input">
              <input formControlName="username" matInput placeholder="Email" required>
              <mat-error>
                Please provide a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input formControlName="password" matInput placeholder="Password" required type="password">
              <mat-error>
                Please provide a valid password
              </mat-error>
            </mat-form-field>
            <button class="margin-top-10" color="primary" mat-raised-button>Login</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
  <!-- Web -->
  <div fxFlex="50%" fxShow="false" fxShow.gt-sm>
    <ng-container [ngTemplateOutlet]="commonTemplate"></ng-container>
  </div>
  <div class="desktop-column-outer" fxFlex="50%" fxShow="false" fxShow.gt-sm>
    <div class="desktop-column-background">
      <div class="description-root">
        <div class="description-container">
          <div>
            <div fxLayout="row" fxLayoutAlign="start center"><img alt="app logo" src="assets/app-logo.png"
                                                                  style="height: 64px;">
              <h2 style="margin: 0 8px">Tic Tac Toe</h2></div>
            <p>Tic Tac Toe is a simple web based implementation of classic 2 player game.</p>
          </div>
          <div>
            <h3>Key Features</h3>
            <ul>
              <li>Accessible anywhere across the globe.</li>
              <li>Secured using advance encryption algorithms.</li>
              <li>Faster than a native mobile application.</li>
              <li>Supports single player mode and multiplayer mode.</li>
              <li>Play with different difficulties with bot.</li>
              <li>User friendly.</li>
            </ul>
          </div>
          <div>
            <h2>Made with ❤️ by <a href="https://github.com/kunalms" target="_blank"> Kunal Sharma</a></h2>
            <p>Find the source code on <a href="https://github.com/kunalms/tic-tac-toe" target="_blank">Github</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile  -->
  <div fxHide="false" fxHide.gt-sm>
    <ng-container [ngTemplateOutlet]="commonTemplate"></ng-container>
  </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>
