<div class="mat-card-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z4" ngClass.gt-xs="card-gt-xs" ngClass.lt-sm="card-lt-sm">
    <mat-card-content>
      <nav mat-tab-nav-bar>
        <a [active]="true" fxFlex="50%"
           mat-tab-link
           routerLink="/verification/login">
          Login
        </a>
        <a [active]="false" fxFlex="50%"
           mat-tab-link
           routerLink="/verification/signup">
          Sign Up
        </a>
      </nav>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="padding-16" fxLayout="column" fxLayoutAlign="center">
        <mat-error *ngIf="loginInvalid">
          The email and password were not recognised
        </mat-error>
        <mat-form-field class="full-width-input">
          <input formControlName="username" matInput placeholder="Email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input formControlName="password" matInput placeholder="Password" required type="password">
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button class="margin-top-10" color="primary" mat-raised-button>Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<app-spinner *ngIf="loading"></app-spinner>
