.mat-card-wrapper {
  height: 90vh;
  text-align: center;
  padding: 8px;
}

.card-gt-xs {
  width: 50%;
}

.card-lt-sm {
  width: 95%;
}

mat-form-field {
  display: block;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

